body {
  font-family:helvetica, arial, sans-serif;
  font-size:80%;
  margin:10px;
}

li {
	list-style-type:square;
	margin-left:0px;
}

#header {
  padding-bottom:1.0em;
  padding-top:1.0em;
}

#header h1 {
  font-size: 156%;
  display:inline;
  padding-bottom:43px;
  padding-top:40px;
  background-repeat:no-repeat;
  background-size:67px;
  background-position:1px 18px;
}
#header_logo{
    width: 40px;
}

.section-header {
  background:#E1FEC7;
  border-top:1px solid #669933;
  font-size:99%;
  padding:3px 0 2px 5px;
  font-weight:bold;
  margin-bottom:1em;
  margin-top:1em;
}

.section-header.first {
  margin-top:1em;
}

.level_1 {
	padding-top:5px;
}

.level_2 {
	margin-left:25px;
}


#footer {
  margin-top:2em;
}

#help {
	display:inline;
	padding-left:2px;
	font-size: 14px;
	color: green;
	font-weight: bold;
}

#form {
	margin-bottom:2em;
}